body{
    background-image: url(fondo5.png);  
}
h2{
    color: rgb(182, 109, 250);
    font-size: 15px;   
    position:relative;
    top: 20px;
    transition:initial cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
h2:hover{
    transform:translate(70px);

}
p{
    color: rgb(184, 166, 201);
    text-align: left;
    font-size: 50px;
}
.text{
    margin-left: 120px;
    width: 45%;
    position: relative;
    top: 150px
}
button{
    background: rgb(186, 137, 231);
    color: rgb(120, 7, 226);
    width: 150px;
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    position: relative;
    top: 150px;
    left: 120px;
    transition: all 0.7s;
}
button:hover{
    background: rgb(120, 7, 226);
    color: rgb(186, 137, 231);
    transform:translateX(40px);
    cursor: pointer;
}
